:root {
  /* color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color : #ff0000;
  --grey-dark--color : #909090;
  --grey-light-color : #e0e0e0;
  /* size */
  --side-padding:12px;
  --avator-size:36px;
  /* font size */
  --font-large : 18px;
  --font-medium : 14px;
  --font-small : 12px;
  --font-micro : 10px;
}
* {
  padding : 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: var(--white-color);
}
body {
  font-family: 'Roboto', sans-serif;
}
button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}



/* header */
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: var(--side-padding);
}
.header__logo {
  font-size:var(--font-large);
}
.header__logo i {
  color: var(--red-color);
}
.header__icons {
  margin-right: var(--side-padding);
}
.player {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--black-color);
}
.player iframe {
  width: 100%;
  max-width: 1000px;
}
.info {
  padding: var(--side-padding);
}
.metadata .hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}
.metadata .hashtags li {
  padding-right: var(--side-padding);
}
.metadata .titleAndbutton {
  display: flex;
}
.metadata .titleAndbutton span {
  font-size: var(--font-large);
  width: 300px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-right: var(--side-padding);
}
.metadata .titleAndbutton button {
  height: 100%;
  margin: 4px;
  text-align: center;
}
.metadata .views {
  font-size: var(--font-small);
  color: var(--grey-dark--color);
}
.actions {
  display: flex;
  justify-content: space-around;
  margin: var(--side-padding) 0;
}
.actions .actbtn {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
}
.actions .actbtn i {
  margin: 0 auto;
  margin-bottom: calc(var(--side-padding)/2);
  font-size: 16px;
  color: var(--grey-dark--color);
}
.channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}
.channel .metabox {
  display: flex;
  align-items: center;
}
.channel .metabox img {
  width: var(--avator-size);
  height: var(--avator-size);;
  border-radius: 50%;
}
.channel .metabox .info {
  display: flex;
  flex-direction: column;
}
.channel .metabox .info .name {
  font-size: var(--font-medium);
}
.channel .metabox .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark--color);
}
.channel .metabox .subscribe {
  color: var(--red-color);
}
.upnext {
  padding:  var(--side-padding);
}



